/* src/index.css */

/* 1. Importaci칩n de Fuentes (Obligatorio) */
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lato:wght@300;400;700;900&display=swap");

/* 2. Cargar Tailwind V4/Est치ndar (Esto corrige el error @theme y @tailwind base) */
@import "tailwindcss";

/* 3. Estilos Base Globales (Usamos los valores HEX directos para el reset del navegador) */
:root {
  /* Estas fuentes y colores se aplicar치n, y Tailwind leer치 sus nombres de tailwind.config.ts */
  font-family: "Lato", system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* Usamos los valores HEX directos de la paleta oficial (hueso-200 y azulF-950) */
  background-color: #d4d8dd;
  color: #1e2733;
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  height: 100vh;
  width: 100%;
}

@theme {
  /* Color Azul Marino */
  --color-main-600: #436386;
  --color-main-700: #37516d;
  --color-main-800: #2e4156; /* ESTE ES EL COLOR ORIGINAL */
  --color-main-900: #2d3b4d;
  --color-main-950: #1e2733;
  /* Color Gris Oscuro */
  --color-grayDark-100: #eef0f0;
  --color-grayDark-200: #d9dede;
  --color-grayDark-300: #aab7b7; /* ESTE ES EL COLOR ORIGINAL */
  --color-grayDark-200: #90a0a0;
  --color-grayDark-200: #728585;

  /* Color Gris Claro */
  --color-grayLight-100: #eeeff0;
  --color-grayLight-200: #d8dddf;
  --color-grayLight-300: #c0c8ca; /* ESTE ES EL COLOR ORIGINAL */
  --color-grayLight-400: #8f9da1;
  --color-grayLight-500: #728185;
  /* Color Blanco */
  --color-whiteBg-50: #f6f7f8;
  --color-whiteBg-100: #eaecef;
  --color-whiteBg-200: #d4d8dd; /* ESTE ES EL COLOR ORIGINAL */
  --color-whiteBg-300: #c2c8ce;
  --color-whiteBg-400: #a4acb6;
}
